<link rel="stylesheet" type="text/css" media="screen" href="https://raw.githubusercontent.com/RumbleKAT/portfolio/master/styles/typeEtmp.css" />
<div id="title_page">
    <div class="content">
        <div class="content_header">
            <span class="content_header_title">${titleIdx} ${title}</span>
            <span class="content_header_date">${date}</span>
            <p>
                ${content}
            </p>
        </div>
        <div class="content_pictures">
            <div>${0}</div>
            <div>${1}</div>
        </div>
    </div>
</div>
