<!-- 그림 두개 밑에 글 두개 -->
<link rel="stylesheet" type="text/css" media="screen" href="./styles/typeCtmp.css" />
<div id="title_page">
    <div class="content">
        <div class="content_header">
            <span class="content_header_title">${titleIdx} ${title}</span>
            <span class="content_header_date">${date}</span>
            <p>
                ${content}
            </p>
        </div>
        <div class="content_pictures">
            <div>${0}</div>
            <div>${1}</div>
            <div>${2}</div>
        </div>
    </div>
</div>