<!-- 그림 2개 (왼쪽 큰 거 오른쪽 작은거 ) 텍스트 -->
<!-- 그림 두개 밑에 글 두개 -->
<link rel="stylesheet" type="text/css" media="screen" href="/styles/typeDtmp.css" />
<div id="title_page">
    <div class="content">
        <div class="content_header">
            <span class="content_header_title">01 두더지를 잡아라</span>
            <span class="content_header_date">제작시기: 2017년 05월</span>
            <p>
                두더지를 잡아라는 C++ 기반 오픈소스 라이브러리로 개발된 게임입니다. 시간에 따라 두더지와 토끼, 폭탄 두더지 등 다양한 게임요소들의 등장으로 단순함을 탈피하고 Microsoft Azure와의 연동으로 랭킹제를 제작했습니다.
            </p>
        </div>
        <div class="content_pictures">
            <ul class="content_list">
                <li>
                    ${0}
                </li>
                <li>
                    ${1}
                </li>
            </ul>
            <ul class="content_list">
                <li>
                    ${2}
                </li>
                <li>
                    ${3}
                </li>
            </ul>
        </div>
    </div>
</div>