<!-- 그림 3개 밑에 3 : 2  -->
<link rel="stylesheet" type="text/css" media="screen" href="/styles/typeAtmp.css" />
<div id="title_page">
    <div class="content">
        <div class="content_header">
            <span class="content_header_title">${titleIdx} ${title}</span>
            <span class="content_header_date">${date}</span>
            <p>
                ${content}
            </p>
        </div>
        <div class="content_pictures">
            <div>
                <img src="${img0}"/>
            </div>
            <div>
                <img src="${img1}"/>
            </div>
            <div>
                <img src="${img2}"/>
            </div>
        </div>
        <div class="content_leftPart">
            ${url}
        </div>
        <div class="content_rightPart">
            <div class="content_rightPart_center">
                ${part}
            </div>
        </div>
    </div>
</div>