<!-- 그림 3개 밑에 3 : 2  -->
<link rel="stylesheet" type="text/css" media="screen" href="https://github.com/RumbleKAT/portfolio/blob/master/styles/typeAtmp.css" />
<div id="title_page">
    <div class="content">
        <div class="content_header">
            <span class="content_header_title">${titleIdx} ${title}</span>
            <span class="content_header_date">${date}</span>
            <p>
                ${content}
            </p>
        </div>
        <div class="content_pictures">
            <div>
                ${0}
            </div>
            <div>
                ${1}
            </div>
            <div>
                ${2}
            </div>
        </div>
        <div class="content_leftPart">
            <div class="content_leftPart_center">
                ${3}
            </div>
        </div>
        <div class="content_rightPart">
            <div class="content_rightPart_center">
                ${4}
            </div>
        </div>
    </div>
</div>