<!-- 그림 2개 (왼쪽 큰 거 오른쪽 작은거 ) 텍스트 -->
<!-- 그림 두개 밑에 글 두개 -->
<link rel="stylesheet" type="text/css" media="screen" href="./styles/typeDtmp.css" />
<div id="title_page">
    <div class="content">
        <div class="content_header">
            <span class="content_header_title">${titleIdx} ${title}</span>
            <span class="content_header_date">${date}</span>
            <p>
                ${content}
            </p>
        </div>
        <div class="content_pictures">
            <ul class="content_list">
                <li>
                    ${0}
                </li>
                <li>
                    ${1}
                </li>
            </ul>
            <ul class="content_list">
                <li>
                    ${2}
                </li>
                <li>
                    ${3}
                </li>
            </ul>
        </div>
    </div>
</div>