@font-face{
    font-family: GodoM;
    src: url(./fonts/GodoM.ttf) format('truetype');
}

@font-face{
    font-family: NanumGothic;
    src: url(./fonts/NanumGothic-Bold.ttf) format('truetype');
}
body{
    background-color: #efefef;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
}

#root{
    position: absolute;
    height: 100%;
    width : 100%;
    display: table;
}

#middle{
    width: 100%;
    display: table-cell;    
    vertical-align: middle;
    margin-top: auto; 
    margin-bottom: auto;
}

#title_page{
    width: 960px;
    height: 760px;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    background-color: #fff;
}

#title_page .center_section{
    position: absolute;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width : 350px;
    top : 100px;
    left : 15px;
}

#title_page .blackFont{
    font-family: GodoM, Roboto;
    font-size : 48pt;
    color : #262626;
}

#title_page .blueFont{
    font-family: NanumGothic, Roboto;
    font-size : 48pt;
    color: #3363e7
}

#title_page > p {
    font-family: GodoM, Roboto;
    font-size : 15pt;
}

.title_section{
    position: absolute;
}

.weightedLine{
    position: absolute;
    background-color: #3363e7;
    height: 5px;
    width : 360px;
    top : 75px;
}
.thinline{
    position: absolute;
    background-color: #3363e7;
    height : 1px;
    width : 360px;
    top: 82px;
}

.thinline_bottom{
    position: absolute;
    background-color: #3363e7;
    top : 270px;
    width : 360px;
    height: 2px;
}

.warp_line{
    position: absolute;
    width : 360px;
    height : 300px;
    margin-left: 310px;
    top : 30%;
}

.btnStateSelect{
    position: absolute;
    top : 45%;
    width: 100%;
}

.btnPrev{
    float:left;
    font-size: 2em;
    color : #595959;
    z-index: 2;
}

.btnNext{
    float: right;
    margin-right: 15px;
    font-size: 2em;
    color : #595959;
}

.Circle{
    position: absolute;
    width : 200px;
    height : 200px;
    background-color: #cccccc;
    opacity: 0.4;
    border-radius: 50%;
    top : -80px;
    z-index: 1;
}

.prevCircle{
    left: -120px;
}

.nextCircle{
    right: -120px;
}

.prevCircle:hover{
    background-color: #a6a6a6;
}

 .nextCircle:hover{
     background-color: #a6a6a6;
 }

 .content{
     padding: 30px;
     height: inherit;
 }

 .content *{
    margin-left : 10px;
 }

 .content_header{
    border-top: solid 4px #262626;
    border-bottom: solid 2px #cccccc;
    height: 18%;
    text-align: left;
 }

 .content_header_title{
     font-size: 35px;
     font-family: 'GodoM';
     display: inline-block;
     margin-top: 20px;
     margin-bottom: 10px;
 }

 .content_header_date{
    font-size: 12px;
    font-family: 'godoM';
    float: right;
    margin-top : 15px;
    margin-right: 10px;
} 

.content_header p{
    font-size : 15px;
    margin-left : 10px;
    font-family: 'godoM'
}
.content * {
    font-family: 'godoM';
}

.content ul{
    margin : 0;
}

.content li{
    color : #888;
    text-align: left;
    font-size : 1em;
}

.content h3{
    text-align: left;
    font-size: 1.2em;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : 10px;
}