.content_pictures div{
    width : 39%;
    float: left;
    margin-left : 5%;
    margin-right: 5%;
    margin-top : 8%;
}
.content_pictures div:nth-child(1){
    height: 400px;
}

.content_pictures div:nth-child(2){
    height: 200px;
}

.content_pictures div:nth-child(3){
    margin-top: 20px;
    height: 180px;
}
