.content_pictures > div{
    float: left;
    width : 39%;
    margin-left : 5%;
    margin-right: 5%;
    margin-top : 8%;
    height: 200px;
    border : solid 1.0px #262626;
}

.content_pictures div img{
    width:100%;
    height:200px;
    margin-left:0
}

.content_description {
    margin : 0;
    text-align: left;
    font-family: "godoM";
}

.content_description li{
    color : #888;
}

.content_description h3{
    text-align: left;
}
